pipeline/Incremental Load.json
{
	"name": "Incremental Load",
	"properties": {
		"activities": [
			{
				"name": "Lookup last access",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Update_last_update",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Script to get total new rows",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable last access",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Orders_table_Link",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT *\nFROM dbo.Orders\nWHERE last_updated > '@{variables('last access')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable last access",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup last access",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last access",
					"value": {
						"value": "@activity('Lookup last access').output.value[0].cdc_timestamp",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition to check new rows",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Script to get total new rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(greater(activity('Script to get total new rows').output.resultSets[0].rowCount, 0), 'true', 'false')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data from SQL Database",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from dbo.Orders",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Orders_Table",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "OrderCSV",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Lookup to get latest update date",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data from SQL Database",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT MAX(last_updated) as cdc_timestamp \nFROM dbo.Orders",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Orders_Table",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data to update cdc_timestamp",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup to get latest update date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc_timestamp",
											"value": {
												"value": "@activity('Lookup to get latest update date').output.firstRow.cdc_timestamp",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "empty_json",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Update_last_update",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"last access": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-01T13:23:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}